.App {
  text-align: center;
}

.App .header{
  padding: 20px 15px;
  background-color: cadetblue;
}

.App .header h1{
  color: black;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.App .main{
  width: 100%;
  width: 1280px;
  margin: 0 auto;
}

.slide-arrow.left, .slide-arrow.right{
  display: inline-block;
  padding: 0 40px;
  font-size: 30px;
  opacity: 0.6;
  cursor: pointer;
}

.slide-arrow.left:hover, .slide-arrow.right:hover{
  opacity: 1;
}

