*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'open-sans', sans-serif;
  background-color: rgb(175, 175, 180);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}




